/* b2b-last-orders */
.orderDetails,
.arrow {
  color: var(--fresh-blue);
}

.popperArrow .container {
  border-color: var(--fresh-blue);
}

/* b2b-representative-area */
.data {
  color: var(--black-medium);
}
