.sliderLayoutContainer:not(.sliderLayoutContainer--dotsCustom) {
  padding-bottom: 26px;
}

.paginationDotsContainer {
  bottom: 10px;
}

.paginationDotsContainer--dotsCustom {
  display: flex;
  width: auto;
  left: 50%;
  right: initial;
  transform: translateX(-50%);
  bottom: 16px;
  background: #fff;
  border-radius: 40px;
  padding: 2px 6px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
  height: 20px;
  align-items: center;
  opacity: 0.75;
}

.paginationDot {
  background-color: #bdc9d6;
}

.paginationDot.paginationDot--isActive {
  background-color: var(--fresh-blue);
}

.sliderLayoutContainer--benefitsSlider {
  margin-top: 44px;
}

.sliderTrackContainer {
  max-width: 100%;
}

/* BEGIN - Trending Shelf */
.sliderArrows {
  opacity: 0.75;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--fresh-blue);
  border: var(--fresh-blue) solid 1px;
  background-color: #fff !important;
}

.sliderArrows:local([disabled]) {
  color: var(--black-medium);
  border: var(--black-medium) solid 1px;
}

.sliderArrows:hover,
.sliderArrows:focus,
.sliderArrows:active {
  opacity: 1;
}

.sliderArrows:hover,
.sliderArrows:focus,
.sliderArrows:local([disabled]) {
  background-color: var(--lines-light) !important;
}

.sliderArrows:active {
  background-color: var(--lines-dark) !important;
}

.sliderArrows--shelfTrending {
  top: 30%;
}
.sliderArrows--stripeSlider {
  color: var(--serious-black);
  border-color: var(--serious-black);
}
.sliderArrows--stripeSlider:local([disabled]) {
  display: none;
}

.sliderLayoutContainer--categorySlider {
  padding: 0px 50px 28px;
  margin-bottom: 24px;
}

.caretIcon--categorySlider {
  height: 16px;
  width: 12px;
}

.sliderLayoutContainer--stripeSlider {
  padding-bottom: 0 !important;
  background: var(--serious-black);
  margin-top: 16px;
  height: 50px;
}

/* END - Trending Shelf */

@media (min-width: 64rem) {
  .sliderLeftArrow--homeSlider {
    left: 5vw;
  }
  
  .sliderRightArrow--homeSlider {
    right: 5vw;
  }
}

@media (max-width: 64rem) {
  .sliderLayoutContainer--categorySlider {
    padding: 0px 42px 28px;
  }

  .paginationDotsContainer--shelfAlsoView {
    bottom: 0;
  }

  .sliderLayoutContainer--shelfAlsoView,
  .sliderLayoutContainer--bannersSlider {
    margin-bottom: 32px;
  }

  .sliderLayoutContainer--shelfAlsoView,
  .sliderLayoutContainer.sliderLayoutContainer--bannersSlider {
    padding-bottom: 38px;
  }

  .sliderTrack--shelfPopular {
    overflow: hidden;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sliderTrack--shelfPopular .slide {
    width: 100% !important;
  }

  .slide--shelfStyle1 {
    max-width: 160px;
  }
}
